body
{	
	font-family: 'Libre Franklin', sans-serif;
	text-align: justify;
}
.formcurp
{
	background-color: #9Ca5a6;
	padding: 2em;
	color: white;
}

#header-container{
	background-color: #303947;
	color:white;
	padding: .8em;
}

#navMenu{
	background-color: #456F8D;
}

#header-container .navbar-toggler{
	color: white;
}


#breadcrumbs-container .breadcrumb {
  background-color: #456F8D;
  margin: 1em 0;
}

#breadcrumbs-container .breadcrumb .breadcrumb-item {
	color: #fff;
  
}

#breadcrumbs-container .breadcrumb .breadcrumb-item.active {
  color: #A0BBCD;
}

#breadcrumbs-container .breadcrumb .breadcrumb-item+.breadcrumb-item::before {
  content: "->";
}


.jumbotron{
	margin: 0;
	text-align: justify;
}


#footer-container
{
	background-color:#303947;
	color: white;
	padding: 3em 0;
}

#footer-container h4{
	font-size: 16px;
}

@media (max-width: 768px){
	#footer-container [class*="col-"]
	{
		margin-bottom: 2em;
	}
}


.btn-primary
{
	background-color: #303947;
	border-color: #405172;
}


.btn-primary:hover
{
	background-color: #323f59;
	border-color: #405172;
}

.botton-toggle{
	padding: 0;
}

a
{
	color: white;
	text-decoration: none;
}
a:hover{
	color:#A0BBCD;
}

.div-foto
{
	margin-top: 2em;
	margin-bottom: 2em;
}