<!DOCTYPE html>
<html>
<head>
	<script src='/static/js/say-cheese.js'></script>
	<script src="/static/js/datos.js"></script>
	<script src="/static/js/jquery.min.js"></script>
	<title>Mi index</title>
</head>
<body>
<form>
	<label>Nombre</label>
	<input type="text" id="nombres"></input><br>
	<label>A. paterno</label>
	<input type="text" id="paterno"></input><br>
	<label>A. materno</label>
	<input type="text" id="materno"></input><br>
	<label>Fecha de nacimiento</label>
	<input type="date" id="fNacer"></input><br>
	<label>Direccion</label>
	<input type="text" id="direccion"></input><br>
	<label>Entidad</label>
	<input type="text" id="entidad"></input><br>
	<label>Sexo</label>
	<datalist id="lsexo">
    <option value="H" label="Hombre">
    <option value="M" label="Mujer">
	</datalist>
	<input name="color" list="lsexo" id="sexo"></input>
	<a id="GenCurp" href="#">Generar PDF</a>
</form>
</body>
</html>


