<html>
    <head>
    <meta charset="utf-8">
    <title></title>
    </head>
    <body>
    <div>
	  <div >
	    
	    <h3 >
	    <img src="" width="50" height="50" >
	    	<strong >
	    		PYDF Creator
	    	</strong>

	    </h3>
	  </div>
	</div>
    	<div >
		  <div >
		    <a href="#">
		      <img src={{src}}>
		    </a>
		  </div>
		  <div >
		    <a href="#" >
		       <h3>Datos Personales</h3>
		      	<strong>
			      	<br>
			    	Nombre : {{data.nombres}} {{data.paterno}} {{data.materno}} 
			    	<br>
			    	Sexo : {{data.s}}
			    	<br>
					Edad : {{data.edad}}
					<hr>
					Curp: {{data.curp}}
					<br>
					Fecha de nacimiento: {{data.anio}} / {{data.mes}} / {{data.dia}}
					<br>
					Lugar de nacimiento: 
					<br>
					Dirección: 
				</strong>
		    </a>
		  </div>
		</div>
    </body>
</html>
