<html>
    <head>
    <meta charset="utf-8">
    <title></title>
    </head>
    <body>
    <div>
	  <div >
	    
	    <h3 >
	    <img src="" width="50" height="50" >
	    	<strong >
	    		PYDF Creator: Ficha de identificación personal
	    	</strong>

	    </h3>
	  </div>
	</div>
    	<div >
		  <div >
		    <a href="#">
		      <img src="">
		    </a>
		  </div>
		  <div >
		    <a href="#" >
		       <h3>Datos Personales</h3>
		      	<strong>
			      	<br>
			    	Nombre : 
			    	<br>
			    	Sexo : 
			    	<br>
					Edad : 
					<hr>
					Curp: 
					<br>
					Fecha de nacimiento: 
					<br>
					Lugar de nacimiento: 
					<br>
					Dirección: 
				</strong>
		    </a>
		  </div>
		</div>
    </body>
</html>
